body {
    margin: 0;
    padding: 0;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.card {
    width: 200px;
    margin: 0 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

.card:hover {
    background-color: #e0e0e0;
}
