body {
    background: url("../img/regisfondo.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
   background-color: black;
}

.containerr {
    display: flex;
    width: 100vw; /* Ancho del contenedor igual al ancho de la ventana del navegador */
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos columnas */
    
}
.right {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
    padding: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0;
    color: black;
}

form {
    text-align: center;
}

form label {
    text-align: left;
    margin-left: 80px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

input[type="submit"] 
{
    margin-top: 20px;
    background: rgb(231, 231, 2);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007bff;
}
.error{
    color: red;
    position: absolute;
    right: 14%;
}
