body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    
}

.container {
    width: 100vw; /* Ancho del contenedor igual al ancho de la ventana del navegador */
    height: 100vh; /* Alto del contenedor igual al alto de la ventana del navegador */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos columnas */
    background: url('/img/xlarge_Forza_Motorsport_Preview_Press_Kit_08_16x9_93fa4842dc.png') center/cover; 
}

.right {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
    padding: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    text-align: center;
}

form label {
    text-align: left;
    margin-left: 80px;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

input[type="submit"] {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
.error{
    color: red;
    position: absolute;
    right: 14%;
}