*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    background-image: url(/img/car.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height:100vh; 
    background-size: auto; 
    background-position: bottom left;
    background-repeat: no-repeat; 
    
}

.enunciado{
    background-color: rgb(79, 138, 247);
    color: white;
    border-radius: 35px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.respuestas{
    margin-left: 20%;
    margin-right: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.respuestas button{
    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius:35px;
    padding: 10px;
    font-size: medium;
}
.respuestas button:hover{
    background-color:rgb(79, 138, 247) ;
    color: white;
}
select{
    width: max-content;
}